 
<div style="background-image:url(https://ewscripps.brightspotcdn.com/dims4/default/4d95054/2147483647/strip/true/crop/800x450+0+0/resize/320x180!/quality/90/?url=http%3A%2F%2Fewscripps-brightspot.s3.amazonaws.com%2F27%2Fc6%2F60bf3e304ad1a1dde27f82008ea9%2Ffireworks.gif) ;">
      <div class="card" style="height: 11.5cm;">
        <mat-card style="background-color:rgba(245, 222, 179, 0) ;padding-top: 70PX;">
         
            <mat-card-content>
             
            <div ><mat-card-actions style= "max-height: 30ex;">    
              <DIV><P style="text-align: center;color: aliceblue;font-size: xx-large;font-family: 'Times New Roman', Times, serif">
                WELCOME !!
              </P></DIV>        
              
            </mat-card-actions></div>
             
            </mat-card-content>
            <mat-card-content>
             
              <a mat-button href="http://localhost:4200/vignesh">
              <button style="text-align: center;font-size: xx-large;font-family: 'Times New Roman', Times, serif;" mat-button color="primary">
                
                <DIV><P style="text-align: center;">
                  PLACE YOUR HERE
                </P></DIV></button>
                 </a>
              </mat-card-content>
            </mat-card>
      </div>
    </div>
         
                  
    